<!DOCTYPE HTML>
<html>
	<head>
		<title>Vocalpanda</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        {% load static %}
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="{% url 'mainpage' %}" class="logo">
									<span class="symbol"><img src="{% static 'images/vocalpanda.png' %}" alt="" /></span><span class="title">Vocal Panda</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="{% url 'mainpage' %}">메인 페이지</a></li>
							<li><a href="{% url 'mypage' %}">마이 페이지</a></li>
							<li><a href="{% url 'login' %}">로그인/회원가입</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>메인 페이지</a></h1>
								<p>목소리를 이용한 다양한 진단을 제공합니다.</p>
							</header>
							<section class="tiles">
								<article class="style1">
									<span class="image">
										<img src="{% static 'images/pic01.jpg' %}" alt="" />
									</span>
									<a href="{% url 'color' %}">
										<h2>목소리 퍼스널 컬러</h2>
										<div class="content">
											<p>본인의 퍼스널 컬러를 알아보세요.</p>
										</div>
									</a>
								</article>
							</section>
						</div>
					</div>

				
		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>
