{% load static %}
<!DOCTYPE HTML>
<html>

<head>
	<title>persnalcolor_record</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	<noscript>
		<link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>

	<link rel="stylesheet" href="{% static 'assets/css/persnalcolor_record.css' %}" />

	<link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
	<script defer src="https://pyscript.net/latest/pyscript.js"></script>
</head>

<body class="is-preload">
	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<div class="inner">

				<!-- Logo -->
				<a href="{% url 'mainpage' %}" class="logo">
					<span class="symbol"><img src="{% static 'images/vocalpanda.png' %}" alt="" /></span><span class="title">Vocal Panda</span>
				</a>

				<!-- Nav -->
				<nav>
					<ul>
						<li><a href="#menu">Menu</a></li>
					</ul>
				</nav>

			</div>
		</header>

		<!-- Menu -->
		<nav id="menu">
			<h2>Menu</h2>
			<ul>
				<li><a href="{% url 'mainpage' %}">메인 페이지</a></li>
				<li><a href="{% url 'mypage' %}">마이 페이지</a></li>
				<li><a href="{% url 'login' %}">로그인/회원가입</a></li>
			</ul>
		</nav>

		<!-- Main -->
		<div id="main">
			<div class="inner">
				<h1>목소리 퍼스널 컬러</h1>

				<section class="tiles">
					<article class="style1" id="modalOpenButton">
						<span class="image">
							<img src="{% static 'images/vocalpanda.png' %}" alt="" />
						</span>
						<a>
							<h2>녹음하기</h2>
							<div class="content">
								<p>대사를 읽어 목소리를 녹음해보세요.</p>
							</div>
						</a>
					</article>

					<article class="style2" id="mypage">
						<span class="image">
							<img src="{% static 'images/vocalpanda.png' %}" alt="" />
						</span>
						<a href="{% url 'mypage' %}">
							<h2>내 녹음 음성</h2>
							<div class="content">
								<p>내가 녹음한 음성을 확인해보세요.</p>
							</div>
						</a>
					</article>
				</section>

				<div id="modalContainer" class="hidden">
					<div id="modalContent">
							<p>다음 대사를 읽어주세요.</p>
							<button id="recordButton">녹음 시작</button>
							<br>
							<button id="stopButton" disabled>녹음 종료</button>
							<br><br>
							<audio id="audioElement" controls></audio>
							<br>
							<button id="modalCloseButton">닫기</button>
					</div>
				</div>

			</div>

		</div>

		<!-- Scripts -->
		<script src="{% static 'assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'assets/js/browser.min.js' %}"></script>
		<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
		<script src="{% static 'assets/js/util.js' %}"></script>
		<script src="{% static 'assets/js/main.js' %}"></script>
		<script src="{% static 'assets/js/persnalcolor_record.js' %}"></script>
</body>

</html>
